*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns: [full-start] 6rem [center-start] 1fr [center-end] 6rem [full-end];
  background-color: #f7f7f7; }

.header {
  background-image: linear-gradient(to right, #000000, #434343);
  -webkit-clip-path: 0 0, 100% 0, 100% 75vh, 0 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: 10vh 70vh 20vh; }
  .header__logo {
    height: 5rem;
    width: 5rem;
    justify-self: center;
    align-self: center; }
  .header__text {
    grid-column: 2 / -1;
    padding: 6rem 2rem; }

.nav {
  grid-column: 3 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  justify-items: center; }
  .nav__item {
    list-style: none; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    transform: scale(1.1);
    border-bottom: 1px solid #f9f7f6; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 0.5rem; }

.heading-2 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem; }

.heading-3 {
  font-size: 1.6rem;
  padding-left: 1rem;
  letter-spacing: 0.2rem; }

.btn {
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.8rem 3rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #434343;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    .btn:hover:visited {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.project__btn {
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.8rem 1rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .project__btn:hover {
    background-color: #f9f7f6;
    color: #000;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    .project__btn:hover:visited {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      color: #000;
      transform: translateY(0); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mt-lg {
  margin-top: 8rem; }

.mt-hg {
  margin-top: 12rem; }

.about {
  background-color: #f7f7f7;
  grid-column: center-start / center-end;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3rem; }
  .about__title-1 {
    justify-self: center;
    align-self: center; }
  .about__title-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center; }
  .about__text {
    grid-column: 1 / 2;
    font-size: 1.5rem; }
  .about__technologies {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3rem; }
  .about__tech {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1rem;
    align-items: center; }
    .about__tech--icon {
      height: 3rem;
      width: 3rem; }
    .about__tech--text {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 400; }

.projects {
  padding: 10rem 3rem;
  background-image: linear-gradient(to right bottom, #333333, #333333);
  transform: skewY(-5deg);
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-row-gap: 3rem; }
  .projects > * {
    transform: skewY(5deg); }
  .projects__title {
    grid-column: 2 / 3;
    justify-self: center; }

.project {
  padding: 6rem 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  justify-items: center; }
  .project__item {
    padding: 2rem 2rem;
    background-color: rgba(67, 67, 67, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 1rem;
    justify-items: center; }
    .project__item--iconBox {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      justify-items: center; }
    .project__item--iconBox2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      justify-items: center; }
    .project__item--iconBox3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      justify-items: center; }
    .project__item--name {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem; }
    .project__item--text {
      font-size: 1.3rem; }
    .project__item--icon {
      width: 2.5rem;
      height: 2.5rem; }
    .project__item--description {
      font-size: 1.3rem; }
    .project__item--link {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      justify-self: center;
      align-items: center; }

.contact {
  padding: 6rem 0;
  color: #434343;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem; }
  .contact__title {
    grid-column: 2 / 3;
    justify-self: center; }
  .contact-box {
    padding: 6rem 3rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: center;
    border: 1px solid #434343;
    border-radius: 3px; }
  .contact__label {
    font-size: 1.3rem;
    font-weight: 400;
    grid-column: 1 / 2; }
  .contact__input {
    background-color: #434343;
    color: #f9f7f6;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    grid-column: 2 / 3; }
  .contact-email {
    grid-column: 3 /-1;
    grid-row: 1 / -1; }
    .contact-email__text {
      font-size: 1.5rem;
      font-weight: 400; }
    .contact-email__link:link, .contact-email__link:visited {
      text-decoration: none;
      color: currentColor;
      transition: all 0.2s;
      color: #000; }
  .contact__btn {
    grid-column: 1 / 2;
    background-color: #434343;
    color: #f9f7f6;
    border: none;
    border-radius: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.8rem 3rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }
    .contact__btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .contact__btn:hover:visited {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transform: translateY(0); }

.footer {
  padding: 6rem 3rem;
  color: #f9f7f6;
  background-color: #333;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 3rem repeat(auto-fit, minmax(35rem, 1fr)) 3rem;
  grid-row-gap: 5rem; }
  .footer__logo {
    grid-column: 2 / 4;
    width: 4rem;
    justify-self: center; }
  .footer__nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    list-style: none; }
    .footer__nav--item {
      padding: 2rem 3rem;
      transition: all 0.2s; }
      .footer__nav--item:hover {
        transform: translateY(-2px);
        background-color: #434343;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    .footer__nav--link:link, .footer__nav--link:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400;
      color: inherit; }
  .footer__icon {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
    justify-content: end;
    align-items: center; }
    .footer__icon--svg {
      fill: #f9f7f6;
      width: 3rem;
      height: 3rem; }
