// COLOR VARIABLES
$color-primary: #000000;

$color-secondary: #434343;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-background-grey: #f7f7f7;
$color-background-grey-dark: #333;

// FONT VARIABLES
$font-primary: "Lato", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-light-1;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns:
    [full-start] 6rem [center-start] 1fr [center-end]
    6rem [full-end];
  background-color: $color-background-grey;
}
