.contact {
  padding: 6rem 0;
  color: $color-secondary;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: 3rem 1fr 3rem;

  &__title {
    grid-column: 2 / 3;
    justify-self: center;
  }

  &-box {
    padding: 6rem 3rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: center;
    border: 1px solid $color-secondary;
    border-radius: 3px;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 400;
    grid-column: 1 / 2;
  }

  &__input {
    background-color: $color-secondary;
    color: $color-grey-light-1;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    grid-column: 2 / 3;
  }

  &-email {
    grid-column: 3 /-1;
    grid-row: 1 / -1;

    &__text {
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: currentColor;
      transition: all 0.2s;
      color: #000;
    }
  }

  &__btn {
    grid-column: 1 / 2;
    background-color: $color-secondary;
    color: $color-grey-light-1;
    border: none;
    border-radius: 0;
    font-family: $font-primary;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.8rem 3rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.15);

      &:visited {
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
        transform: translateY(0);
      }
    }
  }
}
