.header {
  //background-color: orangered;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-clip-path: (0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: 10vh 70vh 20vh;

  &__logo {
    height: 6rem;
    justify-self: center;
    align-self: center;
  }

  &__text {
    grid-column: 2 / -1;
    padding: 6rem 2rem;
  }
}

.nav {
  grid-column: 3 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  justify-items: center;

  &__item {
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    font-family: $font-primary;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid transparent;

    padding-bottom: 1px;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    transform: scale(1.1);
    border-bottom: 1px solid $color-grey-light-1;
  }
}
